@charset "UTF-8";


* {
    padding: 0;
    margin: 0;
}
/* fonts */

    p {
        font-family: 'Baumans', cursive;
        text-align: center;
    }
    a {
        font-family: 'Baumans', cursive;
        font-size: 15px;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
    }
    h1 {
        font-family: 'Baumans', cursive;
    }


/* header */

    .header {
        position: relative;
        display: flex ;
        flex-direction: column;
    }

    /* cabeçalho 01 */

        #cabecalho01 {
            position: relative;
            padding-top: 10px;
            padding-bottom: 10px;
            width: 100%;
            height: auto;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-around;
            border-top: 15px solid #0061a6ff;

        }

        .icones {
            display: flex;
            flex-flow: row nowrap;
            width: 100px;
            justify-content: space-between;
            align-items: center;
        }
        .icon {
            height: auto;
            width: auto;
            max-width: 20px;
            color: #0061a6ff;
        }

    /* cabeçalho 02 */

        #cabecalho02 {
            background-color:  #0061a6ff;
            position: relative;
            width: 100%;
            height: auto;
            display: flex;
            flex-flow: row nowrap;
            
        }
        ul  {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            list-style: none;
            width: 80%;
            margin: auto;

        }

        li {
            background-color: #0061a6ff;
            width: 20%;
            height: auto;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;

        }
        #bordamenu {
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }


        ul li a {
            display: block;
        }
        li ul {
            display: flex;
            flex-direction: column;
        }

        #menu01 {
            display: none;
            width: auto;
            margin-top: 20px;

        }
        li:hover #menu01 {
            position: absolute;
            display: block;
        }
        li:hover {
            background-color: #ffffff1a;
            height: max-content;
        }
         	

/* corpo */
    .historia {
        width: 100%;
        height: 100vh;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .hist {
        display: flex;
        width: 100%;
        background-color: lightblue;
    }

    #hist-2 {
        display: none;
    }

    .hist-display {
        display: flex;
        width: 50%;
        align-items: center;
    }
    
    .img-hist {
        width: 100%;
    }




/* footer */

    .footer {
        position: relative;
        margin: auto;
        width: 100%;
        bottom: 0px;
        text-align: center;
    }

    #footerlac {
        background-color: hsla(10, 100%, 50%, 1);
        height: 200px;
    }

    #footernaipe {
        background-color: hsla(0, 0%, 30%, 1);
        height: 50px;
    }
